.container {
  width: 100vw;
  height: fit-content;
  padding: 3rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bg-card {
  background-image: url("https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.product-card {
  width: 250px;
  min-height: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.6rem;
}

.product-card:hover {
  transform: scale(1.02);
}
.product-card-down {
  width: 250px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.6rem;
  backdrop-filter: blur(10px);
}

.product-card-down:hover {
  transform: scale(1.02);
}

.btn {
  background-color: transparent;
  color: #080808;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  min-height: 40px;
}

.btn-down {
  background-color: transparent;
  color: #080808;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  min-height: 60px;
  backdrop-filter: blur(10px);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.btn-down-content {
  background-color: wheat;
}

.bg-btn {
  background-image: url("https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
